<!DOCTYPE html>
<html>
  <head>
    <title>Ourraddit</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render "layouts/nav" %>

    <div style="padding-left: 5%; padding-right: 5%;">
      <%= yield %>
    </div>
  </body>
</html>
